{% assign v = {{site.baseurl}} %}
{% assign langs = {{page.lang}}%}
{% case langs %}
{% when "en" %}
  {% assign urlGettingStarted = v | append:"/android" %}
  {% assign urlRegistration = v | append:"/android/registration" %}
  {% assign urlIntegrationGuide = v | append:"/android/integration-guide" %}
  {% assign urlBanner = v | append:"/android/banner" %}
  {% assign urlInterstitial = v | append:"/android/interstitial" %}
  {% assign urlNative = v | append:"/android/native" %}
  {% assign urlMediation = v | append:"/android/mediation" %}
  <!-- {% assign urlFlutter = v | append:"/android/flutter" %} -->
  {% assign urlCustomRequestParams = v | append:"/android/custom-request-params" %}
  {% assign urlLatestNews = v | append:"/android/latest-news" %}
  <!-- {% assign urlDownload = v | append:"/android/download" %} -->
  {% assign urlChangelog = v | append:"/android/changelog" %}
  {% assign urlAppPrivacyDetails = v | append:"/android/app-privacy-details" %}
  {% assign urlFaq = v | append:"/android/faq" %}
  {% assign sidebar-title1 = "Android Integration" %}
  {% assign getting-started = "Getting Started" %}
  {% assign registration = "Registration" %}
  {% assign integration-guide = "Integration Guide" %}
  {% assign sidebar-title2 = "Ad Type Choices" %}
  {% assign banner-id = "Banner Ad" %}
  {% assign interstitial-id = "Interstitial Ad" %}
  {% assign native-id = "Native Ad" %}
  {% assign sidebar-title3 = "Advanced Setting" %}
  {% assign mediation = "Mediation" %}
  <!-- {% assign flutter = "Flutter" %} -->
  {% assign custom-request-params = "Custom Request Params" %}
  {% assign sidebar-title4 = "MISC" %}
  <!-- {% assign download = "Download" %} -->
  {% assign latest-news = "Latest News" %}
  {% assign changelog = "Change Log" %}
  {% assign appprivacydetails = "App Privacy Details" %}
  {% assign faq = "FAQ" %}
{% else %}
  {% assign urlGettingStarted = v | append:"/" | append: langs | append: "/android" %}
  {% assign urlRegistration = v | append:"/" | append: langs | append: "/android/registration" %}
  {% assign urlIntegrationGuide = v | append:"/" | append: langs | append: "/android/integration-guide" %}
  {% assign urlBanner = v | append:"/" | append: langs | append: "/android/banner" %}
  {% assign urlInterstitial = v | append:"/" | append: langs | append: "/android/interstitial" %}
  {% assign urlNative = v | append:"/" | append: langs | append: "/android/native" %}
  {% assign urlMediation = v | append:"/" | append: langs | append: "/android/mediation" %}
  <!-- {% assign urlFlutter = v | append:"/" | append: langs | append: "/android/flutter" %} -->
  {% assign urlCustomRequestParams = v | append:"/" | append: langs | append: "/android/custom-request-params" %}
  {% assign urlLatestNews = v | append:"/" | append: langs | append: "/android/latest-news" %}
  <!-- {% assign urlDownload = v | append:"/" | append: langs | append: "/android/download" %} -->
  {% assign urlChangelog = v | append:"/" | append: langs | append: "/android/changelog" %}
  {% assign urlAppPrivacyDetails = v | append:"/" | append: langs | append: "/android/app-privacy-details" %}
  {% assign urlFaq = v | append:"/" | append: langs | append: "/android/faq" %}
{% endcase %}
{% case langs %}
{% when "zh-tw" %}
  {% assign sidebar-title1 = "Android 串接" %}
  {% assign getting-started = "開始使用" %}
  {% assign registration = "註冊帳號" %}
  {% assign integration-guide = "串接說明" %}
  {% assign sidebar-title2 = "廣告型態選擇" %}
  {% assign banner-id = "橫幅廣告" %}
  {% assign interstitial-id = "插頁廣告" %}
  {% assign native-id = "原生廣告" %}
  {% assign sidebar-title3 = "進階設定" %}
  {% assign mediation = "中介服務" %}
  <!-- {% assign flutter = "Flutter" %} -->
  {% assign custom-request-params = "自定義廣告請求參數" %}
  {% assign sidebar-title4 = "其他" %}
  <!-- {% assign download = "下載 SDK" %} -->
  {% assign latest-news = "最新消息" %}
  {% assign changelog = "更新日誌" %}
  {% assign appprivacydetails = "App Privacy Details" %}
  {% assign faq = "常見問題" %}
{% when "zh-cn" %}
  {% assign sidebar-title1 = "Android 串接" %}
  {% assign getting-started = "开始使用" %}
  {% assign registration = "注册帐号" %}
  {% assign integration-guide = "串接说明" %}
  {% assign sidebar-title2 = "广告型态选择" %}
  {% assign banner-id = "横幅广告" %}
  {% assign interstitial-id = "插页广告" %}
  {% assign native-id = "原生广告" %}
  {% assign sidebar-title3 = "进阶设定" %}
  {% assign mediation = "中介服务" %}
  <!-- {% assign flutter = "Flutter" %} -->
  {% assign custom-request-params = "自定义广告请求参数" %}
  {% assign sidebar-title4 = "其他" %}
  <!-- {% assign download = "下载 SDK" %} -->
  {% assign latest-news = "最新消息" %}
  {% assign changelog = "更新日志" %}
  {% assign appprivacydetails = "App Privacy Details" %}
  {% assign faq = "常见问题" %}
{% when "jp" %}
  {% assign sidebar-title1 = "Android 串接" %}
  {% assign getting-started = "スタートガイド" %}
  {% assign registration = "Vponへの登録" %}
  {% assign integration-guide = "インテグレーションガ" %}
  {% assign sidebar-title2 = "広告パターンとを選択" %}
  {% assign banner-id = "バナー広告" %}
  {% assign interstitial-id = "インタースティシャル広告" %}
  {% assign native-id = "Native Ad" %}
  {% assign mediation = "メディエーション" %}
  {% assign advanced = "詳細設定" %}
  {% assign sidebar-title3 = "ダウンロード/その他" %}
  {% assign download = "最新ニュース" %}
  {% assign latest-news = "ダウンロード" %}
  {% assign changelog = "変更履歴" %}
  {% assign faq = "FAQ" %}
{% endcase %}
<ul class= "nav nav-sidebar nav-left hidden-xs hidden-sm">
  <span id= "sidebar-title1">{{sidebar-title1}}</span>
  <li><a id= "getting-started" href="{{urlGettingStarted}}">{{getting-started}}</a></li>
  <li><a id= "registration" href="{{urlRegistration}}">{{registration}}</a></li>
  <li><a id= "integration-guide" href="{{urlIntegrationGuide}}">{{integration-guide}}</a></li>
  <span id= "sidebar-title2">{{sidebar-title2}}</span>
  <li><a id= "banner-id" href="{{urlBanner}}">{{banner-id}}</a></li>
  <li><a id= "interstitial-id" href="{{urlInterstitial}}">{{interstitial-id}}</a></li>
  <li><a id= "native-id" href="{{urlNative}}">{{native-id}}</a></li>
  <span id= "sidebar-title3">{{sidebar-title3}}</span>
  <li><a id= "mediation" href="{{urlMediation}}">{{mediation}}</a></li>
  <!-- <li><a id= "flutter" href="{{urlFlutter}}">{{flutter}}</a></li> -->
  <li><a id= "custom-request-params" href="{{urlCustomRequestParams}}">{{custom-request-params}}</a></li>
  <span id= "sidebar-title4">{{sidebar-title4}}</span>
  <!-- <li><a id= "download" href="{{urlDownload}}">{{download}}</a></li> -->
  <li><a id= "latest-news" href="{{urlLatestNews}}">{{latest-news}}</a></li>
  <li><a id= "changelog" href="{{urlChangelog}}">{{changelog}}</a></li>
  <li><a id= "appprivacydetails" href="{{urlAppPrivacyDetails}}">{{appprivacydetails}}</a></li>
  <li><a id= "faq" href="{{urlFaq}}">{{faq}}</a></li>
</ul>

<div class="visible-xs visible-sm" style="width:100%">
  <div class="nav nav-sidebar" style="float:left">
      <span id= "sidebar-title1">{{sidebar-title1}}</span>
      <li><a id= "getting-started" href="{{urlGettingStarted}}">{{getting-started}}</a></li>
      <li><a id= "registration" href="{{urlRegistration}}">{{registration}}</a></li>
      <li><a id= "integration-guide" href="{{urlIntegrationGuide}}">{{integration-guide}}</a></li>
  </div>
  <div class="nav nav-sidebar">
      <span id="sidebar-title2">{{sidebar-title2}}</span>
        <li><a id= "banner-id" href="{{urlBanner}}">{{banner-id}}</a></li>
        <li><a id= "interstitial-id" href="{{urlInterstitial}}">{{interstitial-id}}</a></li>
        <li><a id= "native-id" href="{{urlNative}}">{{native-id}}</a></li>
  </div>
  <div class="nav nav-sidebar" style="float: right">
      <span id="sidebar-title3">{{sidebar-title3}}</span>
      <li><a id= "mediation" href="{{urlMediation}}">{{mediation}}</a></li>
      <!-- <li><a id= "flutter" href="{{urlFlutter}}">{{flutter}}</a></li> -->
      <li><a id= "custom-request-params" href="{{urlCustomRequestParams}}">{{custom-request-params}}</a></li>
  </div>
  <div class="nav nav-sidebar" style="float: right">
    <span id="sidebar-title4">{{sidebar-title4}}</span>
      <!-- <li><a id= "download" href="{{urlDownload}}">{{download}}</a></li> -->
      <li><a id= "latest-news" href="{{urlLatestNews}}">{{latest-news}}</a></li>
      <li><a id= "changelog" href="{{urlChangelog}}">{{changelog}}</a></li>
      <li><a id= "appprivacydetails" href="{{urlAppPrivacyDetails}}">{{appprivacydetails}}</a></li>
      <li><a id= "faq" href="{{urlFaq}}">{{faq}}</a></li>
</div>
</div>
