<!-- Footer
================================================== -->
<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links muted">
      <li>Document framework powered by <a href="http://bt-docs.liaohuqiu.net">Bt-docs</a></li>
      <li>&middot;</li>
      <li>Hosted by <a href="https://pages.github.com">Github Pages</a></li>
    </ul>
  </div>
</footer>

<!-- JavaScript ================================================== -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<script src="{{ site.baseurl }}/assets/js/srcollingText.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/fastclick.js"></script>
<script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js" ></script>
