<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}
<meta name="description" content="{{ page.description}}">
{% else %}
<meta name="description" content="{{ site.meta.description }}">
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% else %}
<meta name="keywords" content="{{ site.meta.keywords }}">
{% endif %}
<meta name="author" content="{{ site.meta.author }}">
<title>
  {% if page.path contains "index" %}
    {{ site.info.site_name }}
  {% else %}
  {{ page.title }} &middot; {{ site.info.site_name }}
  {% endif %}
</title>
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Google Noto Sans Font -->
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<!-- Documentation extras -->
<link href="{{ site.baseurl }}/assets/css/docs.min.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{{ site.baseurl }}/assets/js/fastclick.js"></script>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/custom_icon.png">
{% if site.analytics.google %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.analytics.google.account }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
