{% case page.lang %}
{% when "zh-tw" %}
   {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'zh-tw/', "" }}{% endcapture %}
   {% capture link2 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
   {% capture link3 %}{{ site.baseurl }}{{ page.url | replace: "zh-tw", 'zh-cn'}}{% endcapture %}
   <!-- {% capture link4 %}{{ site.baseurl }}{{ page.url | replace: "zh-tw", 'jp'}}{% endcapture %} -->
{% when "zh-cn" %}
   {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'zh-cn/', "" }}{% endcapture %}
   {% capture link2 %}{{ site.baseurl }}{{ page.url | replace: "zh-cn", 'zh-tw'}}{% endcapture %}
   {% capture link3 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
   <!-- {% capture link4 %}{{ site.baseurl }}{{ page.url | replace: "zh-cn", 'jp'}}{% endcapture %} -->
{% when "jp" %}
   {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'jp/', "" }}{% endcapture %}
   {% capture link2 %}{{ site.baseurl }}{{ page.url | replace: "jp", 'zh-tw'}}{% endcapture %}
   {% capture link3 %}{{ site.baseurl }}{{ page.url | replace: "jp", 'zh-cn'}}{% endcapture %}
   {% capture link4 %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
{% else %}
   {% capture link1 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
   {% capture link2 %}{{ site.baseurl }}/zh-tw{{page.url}}{% endcapture %}
   {% capture link3 %}{{ site.baseurl }}/zh-cn{{page.url}}{% endcapture %}
   <!-- {% capture link4 %}{{ site.baseurl }}/jp{{page.url}}{% endcapture %} -->
{% endcase %}

{% assign nav = site.left_nav[page.lang] %}
  <div class="hambg-list visible-xs go-off">
      <ul class="hambg-list-list">
      {% for item in site.right_nav_new %}
        {% if page.lang == "zh-tw" %}
          {% capture links %}{{ item.url2 }}{% endcapture %}
        {% elsif page.lang == "zh-cn" %}
          {% capture links %}{{ item.url3 }}{% endcapture %}
        {% elsif page.lang == "jp"%}
          {% capture links %}{{ item.url4 }}{% endcapture %}
        {% else %}
          {% capture links %}{{ item.url1 }}{% endcapture %}
        {% endif %}
        <a href="{{ links }}" class="{{ item.cls }}"><li class="dropdown">{{ item.title }}</li></a>
      {% endfor %}
          <a href="{{ link1 }}">
            <li class="lang-color">English</li>
          </a>
          <a href="{{ link2 }}">
            <li class="lang-color">繁體中文</li>
          </a>
          <a href="{{ link3 }}">
            <li class="lang-color">简体中文</li>
          </a>
          <!-- <a href="{{ link4 }}">
            <li class="lang-color">日本語</li>
          </a> -->
      </li>
    </ul>
  </div>
  <button type="button" class="open-button" id="open-button">
    <svg id="burgericon" xmlns="http://www.w3.org/2000/svg" width="44" height="34">
    <g class="icon">
      <rect class="frstbar" x="2" y="9" width="22" height="2" rx="1" ry="2" fill="#FE830E" style"transform-origin: 0% 50%;" />
      <rect class="scndbar" x="2" y="16" width="22" height="2" rx="1" ry="2" fill="#FE830E" />
      <rect class="thrdbar" x="2" y="23" width="22" height="2" rx="1" ry="2" fill="#FE830E" style"transform-origin: 0% 50%;"/>
    </g>
  </svg>
  </button>
<header class="navbar navbar-static-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="{{nav.path}}" class="navbar-brand">
        <img src="{{site.imgurl}}/vpon-logo-new.png" id="vpon-logo" />
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right hidden-xs">
      {% for item in site.right_nav_new %}
        {% if page.lang == "zh-tw" %}
          {% capture links %}{{ item.url2 }}{% endcapture %}
        {% elsif page.lang == "zh-cn" %}
          {% capture links %}{{ item.url3 }}{% endcapture %}
        {% elsif page.lang == "jp"%}
          {% capture links %}{{ item.url4 }}{% endcapture %}
        {% else %}
          {% capture links %}{{ item.url1 }}{% endcapture %}
        {% endif %}
        <!-- assign topic-focused class to the navbar button -->
        {% assign item-class = item.cls %}
        {% if page.layout == "android" or page.layout == "android-download" or page.layout == "android-changelog" %}
          {% if item.title == "Android" %}
            {% assign item-class = item.cls | append:" topic-focused" %}
          {% endif %}
        {% elsif page.layout == "ios" or page.layout == "ios-download" or page.layout == "ios-changelog" %}
          {% if item.title == "iOS" %}
            {% assign item-class = item.cls | append:" topic-focused" %}
          {% endif %}
        {% elsif page.layout == "web"%}
          {% if item.title == "Web" %}
            {% assign item-class = item.cls | append:" topic-focused" %}
          {% endif %}
        {% elsif page.layout == "flutter" or page.layout == "android-changelog"%}
          {% if item.title == "Flutter" %}
            {% assign item-class = item.cls | append:" topic-focused" %}
          {% endif %}
        {% endif %}
        <li class="dropdown"><a href="{{ links }}" class="{{ item-class }}">{{ item.title }}</a></li>
      {% endfor %}
      <li class="dropdown">
        <!-- <a class="dropdown-toggle language-menu" data-toggle="dropdown">Language</a> -->
        <button class="btn btn-default dropdown-toggle language-menu .dropdown-menu-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Language
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu language-dropdown">
          <li><a class="en" href="{{ link1 }}">English</a></li>
          <li><a class="zh-tw" href="{{ link2 }}">繁體中文</a></li>
          <li><a class="zh-cn" href="{{ link3 }}">简体中文</a></li>
          <!-- <li><a class="jp" href="{{ link4 }}">日本語</a></li> -->
        </ul>
      </li>
    </ul>
    </nav>
  </div>
</header>
