<header class="navbar navbar-static-top bs-docs-nav" role="banner">
    <div class="container">
        {% assign nav = site.left_nav[page.lang] %}
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{nav.path}}" class="navbar-brand"><img src="{{site.imgurl}}/vpon-logo.png" id="vpon-logo" alt="Vpon SDK (Alpha)" /></a>
            <!-- <a href="{{nav.path}}" class="navbar-brand">Vpon SDK (Alpha)</a> -->
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                {% for item in nav.items %}
                <li{% if page.path == item.path %} class="active"{% endif %}>
                  <a href="{{ item.path }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.right_nav %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}</a>
                  <ul class="dropdown-menu">
                     <li><a href="{{ item.url }}">Home</a></li>
                     <li><a href="{{ item.url1 }}">Android</a></li>
                     <li><a href="{{ item.url2 }}">iOS</a></li>
                     <li><a href="{{ item.url3 }}">Web</a></li>
                  </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
