<header class="navbar navbar-static-top bs-docs-nav" role="banner">
  <div class="container">
    {% assign nav = site.left_nav[page.lang] %}
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{nav.path}}" class="navbar-brand">
        <img src="{{site.imgurl}}/vpon-logo.png" id="vpon-logo" />
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {% for item  in nav.items %}
        <li{% if page.path==i tem.path %} class="active" {% endif %}>
          <a href="{{ item.path }}">{{ item.title }}</a>
          </li>
          {% endfor %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% for item in site.right_nav_new %}
        <li class="dropdown">
          {% if page.lang == "zh-tw" %}
            {% capture links %}{{ item.url2 }}{% endcapture %}
          {% elsif page.lang == "zh-cn" %}
            {% capture links %}{{ item.url3 }}{% endcapture %}
          {% elsif page.lang == "jp"%}
            {% capture links %}{{ item.url4 }}{% endcapture %}
          {% else %}
            {% capture links %}{{ item.url1 }}{% endcapture %}
          {% endif %}
          <a href="{{ links }}" class="{{ item.cls }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        <li class="dropdown">
          <!-- <a class="dropdown-toggle language-menu" data-toggle="dropdown">Language</a> -->
          <button class="btn btn-default dropdown-toggle language-menu .dropdown-menu-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Language
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu language-dropdown">
            {% case page.lang %}
            {% when "zh-tw" %}
               {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'zh-tw/', "" }}{% endcapture %}
               {% capture link2 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
               {% capture link3 %}{{ site.baseurl }}{{ page.url | replace: "zh-tw", 'zh-cn'}}{% endcapture %}
               {% capture link4 %}{{ site.baseurl }}{{ page.url | replace: "zh-tw", 'jp'}}{% endcapture %}
            {% when "zh-cn" %}
               {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'zh-cn/', "" }}{% endcapture %}
               {% capture link2 %}{{ site.baseurl }}{{ page.url | replace: "zh-cn", 'zh-tw'}}{% endcapture %}
               {% capture link3 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
               {% capture link4 %}{{ site.baseurl }}{{ page.url | replace: "zh-cn", 'jp'}}{% endcapture %}
            {% when "jp" %}
               {% capture link1 %}{{ site.baseurl }}{{ page.url | replace: 'jp/', "" }}{% endcapture %}
               {% capture link2 %}{{ site.baseurl }}{{ page.url | replace: "jp", 'zh-tw'}}{% endcapture %}
               {% capture link3 %}{{ site.baseurl }}{{ page.url | replace: "jp", 'zh-cn'}}{% endcapture %}
               {% capture link4 %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
            {% else %}
               {% capture link1 %}{{ site.baseurl }}{{ page.url}}{% endcapture %}
               {% capture link2 %}{{ site.baseurl }}/zh-tw{{page.url}}{% endcapture %}
               {% capture link3 %}{{ site.baseurl }}/zh-cn{{page.url}}{% endcapture %}
               {% capture link4 %}{{ site.baseurl }}/jp{{page.url}}{% endcapture %}
            {% endcase %}
          <li><a class="en" href="{{ link1 }}">English</a></li>
          <li><a class="zh-tw" href="{{ link2 }}">繁體中文</a></li>
          <li><a class="zh-cn" href="{{ link3 }}">简体中文</a></li>
          <li><a class="jp" href="{{ link4 }}">日本語</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
