{% assign v = {{site.baseurl}} %}
{% assign langs = {{page.lang}}%}
{% case langs %}
{% when "en" %}
  {% assign urlGettingStarted = v | append:"/web" %}
  {% assign urlRegistration = v | append:"/web/registration" %}
  {% assign urlOriginalBanner = v | append:"/web/original-banner" %}
  {% assign urlAdhesionBanner = v | append:"/web/adhesion-banner" %}
  {% assign urlInterstitial = v | append:"/web/interstitial" %}
  {% assign urlNative = v | append:"/web/native" %}
  {% assign urlLatestNews = v | append:"/web/latest-news" %}
  {% assign urlChangelog = v | append:"/web/changelog" %}
  {% assign urlFaq = v | append:"/web/faq" %}
  {% assign sidebar-title1 = "Web Integration" %}
  {% assign getting-started = "Getting Started" %}
  {% assign registration = "Registration" %}
  {% assign sidebar-title2 = "Ad Type Choices" %}
  {% assign original-banner-id = "Original Banner Ad" %}
  {% assign adhesion-banner-id = "Adhesion Banner Ad" %}
  {% assign interstitial-id = "Interstitial Ad" %}
  {% assign native-id = "Native Ad" %}
  {% assign sidebar-title3 = "MISC" %}
  {% assign faq = "FAQ" %}

{% else %}
  {% assign urlGettingStarted = v | append:"/" | append: langs | append: "/web" %}
  {% assign urlRegistration = v | append:"/" | append: langs | append: "/web/registration" %}
  {% assign urlOriginalBanner = v | append:"/" | append: langs | append: "/web/original-banner" %}
  {% assign urlAdhesionBanner = v | append:"/" | append: langs | append: "/web/adhesion-banner" %}
  {% assign urlInterstitial = v | append:"/" | append: langs | append: "/web/interstitial" %}
  {% assign urlNative = v | append:"/" | append: langs | append: "/web/native" %}
  {% assign urlLatestNews = v | append:"/" | append: langs | append: "/web/latest-news" %}
  {% assign urlChangelog = v | append:"/" | append: langs | append: "/web/changelog" %}
  {% assign urlFaq = v | append:"/" | append: langs | append: "/web/faq" %}
{% endcase %}
{% case langs %}
{% when "zh-tw" %}
  {% assign sidebar-title1 = "Web 串接" %}
  {% assign getting-started = "開始使用" %}
  {% assign registration = "註冊帳號" %}
  {% assign sidebar-title2 = "廣告型態選擇" %}
  {% assign original-banner-id = "一般橫幅廣告" %}
  {% assign adhesion-banner-id = "置頂/置底橫幅廣告" %}
  {% assign interstitial-id = "插頁廣告" %}
  {% assign native-id = "原生廣告" %}
  {% assign sidebar-title3 = "其它" %}
  {% assign faq = "常見問題" %}

{% when "zh-cn" %}
  {% assign sidebar-title1 = "Web 串接" %}
  {% assign getting-started = "开始使用" %}
  {% assign registration = "注册帐号" %}
  {% assign sidebar-title2 = "广告型态选择" %}
  {% assign original-banner-id = "一般横幅广告" %}
  {% assign adhesion-banner-id = "置顶/置底横幅广告" %}
  {% assign interstitial-id = "插页广告" %}
  {% assign native-id = "原生广告" %}
  {% assign sidebar-title3 = "其它" %}
  {% assign faq = "常见问题" %}

{% when "jp" %}
  {% assign sidebar-title1 = "Web 串接" %}
  {% assign getting-started = "スタートガイド" %}
  {% assign registration = "Vponへの登録" %}
  {% assign sidebar-title2 = "広告パターンとを選択" %}
  {% assign original-banner-id = "バナー広告" %}
  {% assign adhesion-banner-id = "(adhesion)バナー広告" %}
  {% assign interstitial-id = "インタースティシャル広告" %}
  {% assign native-id = "Native Ad" %}
  {% assign sidebar-title3 = "MISC" %}
  {% assign faq = "FAQ" %}


{% endcase %}
<ul class= "nav nav-sidebar nav-left hidden-xs hidden-sm">
  <span id= "sidebar-title1">{{sidebar-title1}}</span>
  <li><a id= "getting-started" href="{{urlGettingStarted}}">{{getting-started}}</a></li>
  <li><a id= "registration" href="{{urlRegistration}}">{{registration}}</a></li>
  <span id= "sidebar-title2">{{sidebar-title2}}</span>
  <li><a id= "banner-id" href="{{urlOriginalBanner}}">{{original-banner-id}}</a></li>
  <li><a id= "banner-id" href="{{urlAdhesionBanner}}">{{adhesion-banner-id}}</a></li>
  <li><a id= "interstitial-id" href="{{urlInterstitial}}">{{interstitial-id}}</a></li>
  <li><a id= "native-id" href="{{urlNative}}">{{native-id}}</a></li>
  <span id= "sidebar-title3">{{sidebar-title3}}</span>
  <li><a id= "faq" href="{{urlFaq}}">{{faq}}</a></li>
</ul>

<div class="visible-xs visible-sm" style="width:100%">
  <div class="nav nav-sidebar" style="float:left">
      <span id= "sidebar-title1">{{sidebar-title1}}</span>
      <li><a id= "getting-started" href="{{urlGettingStarted}}">{{getting-started}}</a></li>
      <li><a id= "registration" href="{{urlRegistration}}">{{registration}}</a></li>
  </div>
  <div class="nav nav-sidebar">
      <span id="sidebar-title2">{{sidebar-title2}}</span>
        <li><a id= "banner-id" href="{{urlOriginalBanner}}">{{original-banner-id}}</a></li>
        <li><a id= "banner-id" href="{{urlAdhesionBanner}}">{{adhesion-banner-id}}</a></li>
        <li><a id= "interstitial-id" href="{{urlInterstitial}}">{{interstitial-id}}</a></li>
        <li><a id= "native-id" href="{{urlNative}}">{{native-id}}</a></li>
  </div>
  <div class="nav nav-sidebar" style="float: right">
      <span id="sidebar-title3">{{sidebar-title3}}</span>
        <li><a id= "latest-news" href="{{urlFaq}}">{{faq}}</a></li>
  </div>
</div>
