<!DOCTYPE html>
<html lang="jp">

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  {% include header.html %}
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
  <!-- Docs master nav -->
  {% include nav-new.html %}

  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">

      <div class="row">
        <h1>Vpon SDK</h1>
        <br>
        <h3>こんにちは，Vpon SDK ガイドへようこそ</h3>
        <a class="btn btn-lg btn-outline" role="button" id="btn-to-download">Get started</a>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->
  <!-- ========== ABOUT SECTION ========== -->
  <section id="about" name="about"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <div id="about-vpon-sdk">Vpon SDKについて</div>
        <!-- INTRO INFORMATIO-->
        <div class="jumbo-list-item row row-spaced" style="list-style-type: none">
          <div class="col-md-6 f-right">
            <h3>
              <strong>豊富なブランディング広告在庫</strong>
            </h3><br>
              <p>主な４A会社、両岸連鎖業協会(中国･台湾チェーン業協会)と長期的で密接な提携を保ち、更に多くの、優れたブランド広告資源を有します。プラットフォーム内のブランド広告比率は90％以上です。有効的にアプリケーションのイメージを向上、そして維持します。
              </p>
          </div>
          <div class="col-md-6 f-left" >
            <img src="{{ site.baseurl }}/assets/img/publisher-img1.jpg"/>
          </div>
        </div>
  <hr>
        <div class="jumbo-list-item row row-spaced" style="list-style-type: none">
          <div class="col-md-6">
            <h3>
              <strong>公平・合理的な支払いモデル</strong>
            </h3><br>
            <p>CPM/CPC費用制度を同時に採用し、アプリケーションの露出量、クリック数、CTR、ユニークユーザー数など他項目の指数動態で毎日の収益を計算し、公平性と合理性を増し、優秀なアプリケーションが高い広告収益を得られるよう保証します。また、ブランドクライアントの掲載ニーズを満たします。</p>
            </p>
          </div>
          <div class="col-md-6">
            <img src="{{ site.baseurl }}/assets/img/publisher-img2.png" alt="" />
          </div>
        </div>
  <hr>
        <div class="jumbo-list-item row row-spaced" style="list-style-type: none">
          <div class="col-md-6 f-right">
            <h3>
              <strong>LBSよる正確なポジショニングにより更に高いクリック率を保証</strong>
            </h3>
            <br>
            <p>優秀なブランド広告資源にディスカウント券、特別キャンペーン、割引情報を組み合わせ、LBSを通じて策略的に広告を一定エリア内に掲載します。これにより、広告がユーザーの視点と同じなるようにし、ユーザーのニーズに近づき、広告に参加する意向を高め、有効的に広告のクリック数を増加します。
            </p>
          </div>
          <div class="col-md-6 f-left">
            <img src="{{ site.baseurl }}/assets/img/publisher-img3.png" alt="" />
          </div>
        </div>
  <hr>
        <div class="jumbo-list-item row row-spaced" style="list-style-type: none">
          <div class="col-md-6">
            <br><h3>
              <strong>豊富なデータ分析機能</strong>
            </h3><br>
            <p>基本データ統計機能を満たした上で、データ検索ツールを提供し、アプリケーションのユーザーの使用行為、習慣、分布などのデータが理解できるよう協力します。
            </p>

          </div>
          <div class="col-md-6">
            <img src="{{ site.baseurl }}/assets/img/publisher-img4.png" style="float: right" alt="" />
          </div>
        </div>
  <hr>
      <div  style="text-align: center;font-size:24px">
        <br><span>戸惑う時間はもう不要です。ボタンをクリックしてくだ</span><br>
        <br><span> <a href="http://tw.pub.vpon.com/register.action" class="btn btn-lg btn-outline" role="button">Register Now</a></span>
        <br><br><br><br>
       </div>
     </div> <!--/clss row -->
   </div><!-- /container -->
  </div><!-- /f -->

  <!-- ========== CAROUSEL SECTION ========== -->
  <section id="examples" name="examples"></section>
  <div id="ff">
    <div class="container">
      <div class="row centered">
        <h3>いくつかの例</h3>
        <div class="col-lg-6 col-md-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-example" src="{{site.imgurl}}/c1.jpg" alt="">
              </div>
              <div class="item">
                <img class="img-example" src="{{site.imgurl}}/c2.jpg" alt="">
              </div>
              <div class="item">
                <img class="img-example" src="{{site.imgurl}}/c3.jpg" alt="">
              </div>
              <div class="item">
                <img class="img-example" src="{{site.imgurl}}/c4.jpg" alt="">
              </div>
            </div>
            <br>
            <br>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <ol class="carousel-indicators centered">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active slide-pt" style="color: black"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class="icon icon-circle"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class="icon icon-circle"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3" class="icon icon-circle"></li>
            </ol>
        </div>
        </div>
        <!-- col-lg-8 -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div><!-- ff -->

  <!-- Download Section -->
  <section id="download" name="download"></section>
  <div id="f" >
    <div class="container">
      <div class="row" id="download-row">
        <h3 style="text-align:center;margin-bottom:60px">ダウンロード/クイックスタート</h3>
        <div class="row">
         <div class="col-md-4">
          <span style="width:100%;float:left;text-align:center"><img src="{{ site.baseurl }}/assets/img/logo-android.png" class="download-icon" alt=""></span>
          <span style="width:100%;float:left;text-align:center;margin-top:20px"><a href="android/index.html" class="btn btn-lg btn-outline" role="button">Android</a></span>
         </div>
         <div class="col-md-4">
        <span style="width:100%;float:left;text-align:center"><img src="{{ site.baseurl }}/assets/img/logo-apple.png" class="download-icon" alt=""></span>
          <span style="width:100%;float:left;text-align:center;margin-top:20px"><a href="ios/index.html" class="btn btn-lg btn-outline" role="button">iOS</a></span>
         </div>
         <div class="col-md-4">
         <span style="width:100%;float:left;text-align:center"><img src="{{ site.baseurl }}/assets/img/logo-web.png" class="download-icon" alt=""></span>
          <span style="width:100%;float:left;text-align:center;margin-top:20px"><a href="web/index.html" class="btn btn-lg btn-outline" role="button">Web</a></span>
         </div>
    </div><br>
      </div>
    </div>
  </div>

  <!-- ========== CONTACT SECTION ========== -->
  <section id="contact" name="contact" ></section>
    <div id="f" style="background:#333;border-top:solid 5px #ff8d16;padding-bottom:40px">
      <div class="container" >
        <div class="row">
          <h3  style="color:#fff;text-align:center;margin-top:40px;margin-bottom:30px">お問い合わせ</h3>
          <div>
            <span style="color:#fff;text-align:center;width:50%;float:left">マネタイゼーションに関するご質問はございきますか?
              <a href="mailto:bd@vpon.com" class="btn btn-lg btn-outline" role="button">E-mail BD</a>
            </span >
            <span style="color:#fff;text-align:center;width:50%;float:left">技術的なご質問はございますか?
              <a href="mailto:fae@vpon.com" class="btn btn-lg btn-outline" role="button">E-mail FAE</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  <!-- Bootstrap core JavaScript
      ================================================== -->
  {% include footer.html %}
</body>

</html>
