<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>

  <script>
    googletag.cmd.push(function() {
      googletag.defineSlot('/43888021/web_onlyadsense_320x50', [320, 50], 'div-gpt-ad-1486521459774-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script> -->
</head>

<body>
  <!-- <h1>double click</h1>

<div id='div-gpt-ad-1486382085418-0' style='height:50px; width:320px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1486382085418-0'); });
</script>
</div>

  <h1>test = 1, 320x50</h1>

  <div>
    <vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80818250d608d5015122886a664a2c" vpon_ad_format="320x50_mb" debug="false"></vpon>
  </div>
  <h1>test = 0, 320x50</h1>
  <script>
  function vponCallBackMethod(adStatus) {
    if (adStatus != 0) {
      console.log("type1 adStatus!=0");
    }
    else{
      console.log("type2 adStatus=0");
    }
  }
</script>

  <div>
    <vpon vpon_ad_test="0" vpon_ad_licensy_key="8a8081823ef3f77a013f098c43610d3f" vpon_ad_format="320x50_mb" debug="false" ad_request_callback="vponCallBackMethod"></vpon>
  </div>

  </br> -->
  <h1>Adsense</h1>
  <!-- /43888021/web_onlyadsense_320x50 -->
  <!-- <div id='div-gpt-ad-1486521459774-0' style='height:50px; width:320px;'>
  <script>
  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1486521459774-0'); });
  </script>
  </div> -->
  <div id="Vpadn_tag"></div>
  <script src="https://www.googletagservices.com/tag/js/gpt.js"></script>
  <script type='text/javascript'>
    googletag.cmd.push(function() {
      googletag.defineSlot('/43888021/Google', [320, 50], 'Vpadn_tag').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>
  <script>
    function vponCallBackMethod(adStatus) {
      if (adStatus != 0) {
        googletag.cmd.push(function() {
          googletag.display('Vpadn_tag');
        });
      }
    }
  </script>

  <vpon vpon_ad_test="0" vpon_ad_licensy_key="8a808182530c87cb0153183b538f0c37" vpon_ad_format="320x50_mb" debug="true" ad_request_callback="vponCallBackMethod" is_rotate="false"></vpon>

  <script type="text/javascript" src="http://m.vpon.com/sdk/vpadn-sdk.js">
  </script>







  <!-- <script type="text/javascript" src="http://m.vpon.com/sdk/vpadn-sdk.js">
  </script> -->
</body>
