<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <h1>test = 1, 320x50</h1>

  <div>
    <vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80818250d608d5015122886a664a2c" vpon_ad_format="320x50_mb" debug="true"></vpon>
  </div>
  <h1>test = 0, 320x50</h1>
  <div>
    <vpon vpon_ad_test="0" vpon_ad_licensy_key="8a808182530c87cb0153183b538f0c37" vpon_ad_format="320x50_mb" debug="true"></vpon>
  </div>

  </br>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- vpon_test -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:50px"
     data-ad-client="ca-pub-5680192146641330"
     data-ad-slot="3487573402"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});
  </script>


  <script type="text/javascript" src="http://m.vpon.com/sdk/vpadn-sdk.js">
  </script>
</body>
